@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

//Resets
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  font-size: 16px;
}

.container {
  width: 1200px;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.fa-html5 {
  color: #e34f26;
}

.fa-css3-alt {
  color: #2965f1;
}

.fa-js-square {
  color: #f7df1e;
}

.fa-github {
  color: #171515;
}

.fa-linkedin {
  color: #0077b5;
}

.fa-twitter {
  color: #1da1f2;
}

.footer__icons .fa-github {
  color: #9da7b3;
}

.card {
  border: 1px $border-clr solid;
  border-radius: 5px;
  margin-bottom: 3rem;

  &__img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    border-bottom: 1px $border-clr solid;
  }

  &__header {
    font-size: 1.5rem;
    margin: 1.8rem 0;
  }

  &__content {
    font-size: 1.2rem;
    padding: 0 0.75rem 0.9rem 0.75rem;
  }

  &__footer {
    border-top: 1px $border-clr solid;
    padding: 0.5rem 0.75rem;
  }
}
