// Typography
$font-primary: "Ubuntu Mono", monospace;
$fw-4: 400;
$fw-7: 700;

// Colors
$clr-primary: #19f9d8;
$clr-secondary: #1b242f;
$clr-red: #e31b6d;
$clr-light: #f5f5f5;
$clr-white: #fff;
$border-clr: rgba(0, 0, 0, 0.125);

// Maybe colors
//  #1d1d1d
